asgiref==3.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.5
flake8==4.0.1
heroku==0.1.4
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.6.1
Pillow==9.1.1
pycodestyle==2.8.0
pyflakes==2.4.0
pyTelegramBotAPI==4.5.1
python-dateutil==1.5
PyYAML==6.0
render==1.0.0
requests==2.27.1
schedule==1.1.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
